.container {
    width: 100%;
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 50px;
}

.render__title {
    margin: 0;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.data {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin-top: 25px;
}

.data__element {
    border: 1px solid gray;
}

.data__element:first-child {
    font-weight: 700;
}

.id {
    margin-top: 5px;
    padding: 25px 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.id__title {
    margin: 0;
}

.id__box {
    display: flex;
    background-color: #e4e4e4;
}

.id__box dd {
    margin: 0;
    margin-left: 10px;
}

.id__box dt {
    font-weight: 600;
}

.id__list {
    margin: 0;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}